.homeProductItem {
  width: 100%;
  height: 100%;
}

.homeProductItem > .container {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;

  display: flex;
  justify-content: center;
}

.homeProductItem > .container > * {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-decoration: none;
}

.homeProductItem > .container > * .button {
  width: 100%;
  background-color: rgba(100, 100, 100, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.15s ease;

  cursor: pointer;
}

.homeProductItem > .container > * .button:hover {
  background-color: rgba(100, 100, 100, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 1);
}
