.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navBar .navBarLogo {
}
.navBar .middleContainer {
  width: 60%;
}

.navBar .navBarMenu {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
